<!-- assign_list.html -->
<style>
    .group{
        margin-top: 5px;
    }
</style>
{% extends "base.html" %}

{% block title %}Assign List{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
    <h2 class="text-2xl font-semibold mb-4">Assign List</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-500 border border-slate-500">
            <thead>
                <tr>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Done At</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Task</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">User</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Room</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Supervisor Approved</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Comment</th>
                    <th class="px-6 py-3 text-center text-xs font-bold text-black uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for assign in assigns %}
                <tr>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.done_at }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.task.name }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.user.username }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.task.room.name }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.supervisor_approved }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">{{ assign.comment }}</td>
                    <td class="px-6 py-3 text-center text-black border-b">
                        <a href="{% url 'assign_update' assign.pk %}" class="text-white bg-blue-500 rounded-lg pl-3 pr-3 pt-1 pb-1">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

    <!-- Pagination Controls -->
    <div class="mt-4">
        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
