<style>
    .room_item{
     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    } 
    .room-txt{
     background-color: rgba(3, 13, 46, 0.753);
     width: 120px; 
     padding: 10px;
     font-size: 15px !important;
    }
    @media (max-width: 400px) {
     .room-txt{
         width: 80px;
     }
    }
 </style>
 {% extends "base.html" %}
 {% block title %} index {% endblock %}
 {% block content %}
     
     <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
         <h2 class="mb-12 text-2xl text-center">users</h2>
         <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
            {% for user in users %}
                 <div class="room_item">
                     
 
             
                         <div class="p-6 bg-white">
                             <h2 class="text-2xl text-center room-txt mx-auto rounded-xl text-white">{{ user.username }}</h2>
                             <h2 class="text-2xl text-center room-txt mx-auto rounded-xl text-white">{{ user.id }}</h2>
                             <h2 class="text-2xl text-center room-txt mx-auto rounded-xl text-white">{{ user.password }}</h2>



                         </a>
                 </div>
                 </div>
            {% endfor %}
         </div>
     </div>
    
 
 
 {% endblock %}